.form-box1{
    width: 500px;
    height: auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;

}